<!-- <h1>Seller sign-up</h1>

<div class="seller-auth">
    <div class="sign-up">
        <form #sellerSignup="ngForm" (ngSubmit)="signup(sellerSignup)" class="common-form">
            <input class="form-input" type="text" ngModel name="name" placeholder="Enter Name">
            <input class="form-input" type="password" name="password" ngModel placeholder="Enter Password">
            <input class="form-input" type="text" name="email" ngModel placeholder="Enter Email">
            <button class="form-button" class="btn btn-info" >sign-up</button>
        </form>
    </div>
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
      change location<br>
      Mumbai
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>
  <form id="search-form">
    <div class="search">
      <input type="text" name="search" class="round" />
      <input type="submit" class="corner" value="" />
    </div>
</form> 
 -->
 <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
 
 
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://diz7l2x0sn587.cloudfront.net/kisankonnect/Images/BannerImage/20240627173217Story%20Banner%201727%20x496%201.jpg "  height="400px" width="1200px" lass="d-block w-100" alt="">
    </div>

    <div class="carousel-item ">
      <img src="https://diz7l2x0sn587.cloudfront.net/kisankonnect/Images/BannerImage/20240611112458Dairy%20Website%20Story%20Banner-100.jpg" class="d-block w-100" alt="">
    </div>
    <div class="carousel-item ">
      <img src="https://diz7l2x0sn587.cloudfront.net/kisankonnect/Images/BannerImage/20240627112049Dairy%20Range%20Website%20Story%20Banner-100.jpg " class="d-block w-100" alt="">
    </div>
    
  </div>
</div>