
<style type="text/css">
.img_deg
{
    
    float: right;
    
    /* height: 400px; */
    /* width: 800px; */
    
}
.container_deg{
    float: right;
}

</style>


<img class="img_deg" src="https://diz7l2x0sn587.cloudfront.net/kisankonnect/Images/ProductGroupImage/20240627173653Web%20Banner%201240%20x%20450%206.jpg" height="270px" width="900px"  alt="">







<form class="category" >
    <input class="form-input" type="text"  ngModel name="name"  placeholder="Filter"><br>
    <input class="form-input" type="password" name="password" ngModel placeholder="Fresh Atta"  ><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Salad Meals and Pan Ready Mix"><br>
    
    <input class="form-input" type="text" ngModel name="name" placeholder="Moms Kitchen"><br>
    <input class="form-input" type="password" name="password" ngModel placeholder="Fresh Juices"><br>
    <input class="form-input" type="text" name="email"  ngModel placeholder="Fruits" ><br>
    <input class="form-input" type="text" ngModel name="name" placeholder="Masala Blends and Premixes"><br>
    <input class="form-input" type="password" name="password" ngModel placeholder="Marketing Promotion"><br>   
    <input class="form-input" type="text" name="email" ngModel placeholder="Exotic Vegetables"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Dry Fruits"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Dairy Farm"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Vegetables"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Flowers"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Cold Pressed Oils"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Fresh Bakery"><br>
    <input class="form-input" type="text" name="email" ngModel placeholder="Village Staples"><br>
</form>
 
    <div class="container">
    <div class="row">
        <div class="col">
            <div class="imgcontainer">
                <h4 >Get 25% Off</h4>
                <img  src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20220907142400bananaelichi-min.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Elaichi</h2>
                
            </div>

            <div class="card-footer">
            
                <ul class="list-group list-group-flush">
                  <!-- <li class="list-group-item">An item</li> -->
                  <!-- <li class="list-group-item">A second item</li> -->
                  <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <br><br>
                
                <hr >

                <h3> <span>$80</span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    <button class="btn btn-success">Add </button>
                   </h3>

            
                </div>
             

            <!-- <div class="footer">
                <button class="btn btn-info">Add </button>
              </div>   -->

            
        </div>


        <div class="col  ">
            <div class="imgcontainer">
                <h4 >Get 34% Off</h4>
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230731101831Watermelon.png" alt="">
            </div>
            <div class="title">
                <h2>Watermelon</h2>
                
            </div>
            <div class="card-footer">
            
                <ul class="list-group list-group-flush">
                  <!-- <li class="list-group-item">An item</li> -->
                  <!-- <li class="list-group-item">A second item</li> -->
                  <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <br><br> <br>
                
                <hr >

                <h3> <span>$80</span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                    <button class="btn btn-success">Add </button>
                   </h3>
            
                </div>
        </div><br>


        <div class="col">
            <div class="imgcontainer">
                <h4 >Get 38% Off</h4>
                <img  src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/2022090714265520220405123931Untitled%20design%20(57)-min.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Golden</h2>
            
            </div>
            <div class="card-footer">
            
                <ul class="list-group list-group-flush" size=30>
                  <!-- <li class="list-group-item">An item</li> -->
                  <!-- <li class="list-group-item">A second item</li> -->
                  <!-- <li class="list-group-item">A third item</li> -->
                </ul>
                <br><br>
                
                <hr >

               <h3> <span>$80</span> &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;
                <button class="btn btn-success">Add </button>
               </h3>
            
                </div>
        </div><br>

        <div class="col">
            <div class="imgcontainer">
                <h4 >Get 22% Off</h4>
                <img src="https://diz7l2x0sn587.cloudfront.net/kisankonnect/Images/ProductImage/pomogranate.png" alt="">
            </div>
            <div class="title">
                <h2>Pomegranate</h2>
                <p>$179</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>

       

        

        <div class="col">
            <div class="imgcontainer">
                <h5 >Deal of the day</h5>
                <img src="https://diz7l2x0sn587.cloudfront.net/kisankonnect/Images/ProductImage/20240321164632Red%20Delicious%20Apple%20New%20300.png" alt="">
            </div>
            <div class="title">
                <h2>Economy Red Delicious Apple</h2>
                <p>$150</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>


        <div class="col">
            <div class="imgcontainer">
                <h4 >Get 28% Off</h4>
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230606172456Muskmelon.png" alt="">
            </div>
            <div class="title">
                <h2>Muskmelon
                    </h2>
                <p>$69</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>

        <div class="col">
            <div class="imgcontainer">
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230731101831Watermelon.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Elaichi</h2>
                <p>$80</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>

        <div class="col">
            <div class="imgcontainer">
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230731101831Watermelon.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Elaichi</h2>
                <p>$80</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>

        <div class="col">
            <div class="imgcontainer">
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230731101831Watermelon.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Elaichi</h2>
                <p>$80</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>

        <div class="col">
            <div class="imgcontainer">
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230731101831Watermelon.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Elaichi</h2>
                <p>$80</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>

        <div class="col">
            <div class="imgcontainer">
                <img src="https://api.kisankonnect.com/kisankonnect/Images/ProductImage/20230731101831Watermelon.png" alt="">
            </div>
            <div class="title">
                <h2>Banana Elaichi</h2>
                <p>$80</p>
            </div>
            <div class="col-footer">
                <button class="btn btn-info">Add </button>
              </div> 
        </div>
    </div>
</div>














 -->
